
/* 
    ##Dispositivos = Mayoria de dispositivos móviles (Portrait)

    ##Pantalla = entre 320px to 479px

    Autor: Angel Vega Cordero

*/
@media (min-width: 320px) and (max-width: 480px)  and (orientation:portrait){
    /*Cambios Generales*/
    body{
        color: #000;    
        font-family: 'Lora', serif;
        font-size: 1rem;
        transition: ease-in-out 1s;
    }
    h1{
        letter-spacing: 1px;
    }
    h2,h3{
        font-family: 'Lora', serif;
        font-weight: bold;
        font-style: italic;
    }
    h3{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    h4{
        padding: 15px;
        letter-spacing: 1px;
    }
    figcaption{
        font-size: 1.2em;
        font-family: 'Lora', serif;
        background-color: rgba(19, 87, 150, 0.7) !important;
    }
    /*Cambios de Estructura*/
    header{
        width: 100%;
        height: 150px;
        box-sizing:border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;        
    }
    /*Contenedor de la imagen de logo*/
    .logocentrado{
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        -ms-flex-direction: row;
    }
    /*Imagen del logo*/
    .clImgLogo{
        width: 293px;
    }
    /*Menu*/
    .hamburger-menu{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .toggle-menu{
        position: fixed;
        top: 45px;
        left: 15px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        opacity: 0;
        z-index: 9;
    }
    .hamburger{
        position: absolute;
        top: 45px;
        left: 15px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background-color:rgba(4, 143, 203, 0.8);
        z-index: 8;
        justify-content: center;
        align-items: center;
        display: flex;
        display: -webkit-flex;
    }
    .hamburger > div{
        position: absolute;
        width: 65%;
        height: 3px;
        border-radius:  3px;
        background-color:#FFF;
        transition: 0.4s;
        -o-transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    .hamburger > div:before,.hamburger > div:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: #FFF;
    }
    .hamburger > div::before{
        top: -10px;
    }
    .hamburger > div:after{
        top: 10px;
    }
    .toggle-menu:checked + .hamburger > div{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
    }
    .toggle-menu:checked + .hamburger>div::before,
    .toggle-menu:checked + .hamburger>div::after{
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        top: 0;
    }
    .menu{
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0px;
        left: 0px;
        visibility: hidden;
        z-index: 1;
    }
    /*Para quitarle el padding de inicio que tiene el ul*/
    .menu ul{
        padding: 0;
    }
    .menu>div{
        position: absolute;
        width: 100%;
        height:100%;
        top: 50%;
        left: 50%;
        background-color:#58b5db;
        display: flex;
        justify-content: center;
        transform: translate(-150%,-50%);
        -o-transform: translate(-150%,-50%);
        -ms-transform: translate(-150%,-50%);
        -moz-transform: translate(-150%,-50%);
        transition: 0.4s;
        -o-transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
    }
    .menu > div > div{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        -o-transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
    }
    .menu ul li{
        padding: 5px;
        list-style: none;
        font-size: 20px;
        text-align: left;
        border-bottom: 1px solid #FFF;
    }
    .menu ul li:last-child{
        border-bottom: 0;
    }
    .menu ul li a{
        margin: 10px 0;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #FFF;
        transition: 0.4s;
        -o-transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
    }
    .toggle-menu:checked ~ .menu{
        visibility: visible;
    }
    .toggle-menu:checked ~ .menu > div{
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
    /*para que no se vea el menu de tablet*/
    div.sticky-navbar{
        display: none;
    }
    /*Slider de imágenes*/
    /*Para hacer que no se sobreponga sobre el menu*/
    .carrousel,.slide{
        z-index: -5;
    }
    
    /* hace que las imagenes tengan responsive */
    .carousel-inner img {
        width: 100%;
        height: 200px;
    }
    /*
        *********************************************SECCION DE CONTENIDO*********************************************
    */
    section{
        width: 100%;
        height: 100%;
    }
    .clImportanciaSeguros{
        width: 100%;
        min-width: 320px;
    }

    /*Texto de importancia de los seguros*/
    .clImportanciaSeguros h2{
        margin-top: 10px;
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: bold;
        font-style: italic;
    }
    .clImportanciaSeguros p{
        padding: 15px;
        text-align: justify;
        font-family: 'Lora', serif;
    }
    .imgImportanciaSeguros{
        width: 250px;
        height: 250px;
    }
    .imgLogoBCBS{
        width: 250px;
        height: 75px;
    }
    /*Texto de contactanos de pagina principal*/
    h3.textoContactanosindex{
        text-align: center;
        padding: 15px;
    }
    /*Formulario de Contacto*/
    .clFormularioContacto{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 1.5rem;
        background-color: #CBDFF1;
    }
    form.clContacto{
        margin: 0 auto;
        max-width: 450px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    /*Estilo de boton de enviar informacion*/
    .clBtnEnviarInformacion {
        border-bottom: 1px solid #ffa14a;
        background-color: #ffa14a;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-size: 1.25rem;
    }
    /*Estilo de boton de errores*/
    .error{
        color: red;
    }
    /*
        *********************************************FOOTER*********************************************
    */
    footer{
        width: 100%;
        height: 100%;
        background-color: #FFF;
        color: #000;
        font-weight: 600;
        clear: both;
    }
    footer p{
        text-align: center;
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    /*
        *********************************************PAGINA DE NUESTROS SEGUROS*********************************************
    */
    h2.titulo-tipo-seguro{/*TEXTO QUE DICE QUE TIPO DE SEGURO QUIERE SELECCIONAR*/
        text-align: center;
        font-family: 'Lora', serif;
        font-weight: bold;
        font-style: italic;
    }
    .clasificacion-seguros{/*CONTENEDOR QUE TIENE LA CATEGORIZACION DE LOS SEGUROS*/
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .tipo-seguro{/*DIMENSIONES DE LAS CATEGORIAS DE SEGUROS*/
        width: 90%;
        height: 100%;
        margin: 20px 20px;
        -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.3);
    }
    figure.imghvr-zoom-in{
        width: 100%;
        height: 100%;
    }
    /*IMAGEN DE LOS TIPOS DE SEGUROS QUE APARECEN EN LA PAGINA "NUESTROS SEGUROS"*/
    .imgTipoSeguros{
        width: 100%;
        height: 100%;
    }
/*CONTENIDO DE CADA ASPECTOS DE LOS SEGUROS*/
    .Contenedor-difuminado{
            background-image: url('../img/fondo-difuminado.jpg');
            background-size: 100% 100%;
            float: left;
    }
    .ClPortadaSeguros{
        width: 100%;
        height: 100%;
        background-color: #cbdff1;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .ClPortadaSeguros h2{/*El titulo que esta dentro de la imagen de las paginas*/
        position: absolute;
        left: 1rem;
        bottom: 0.1rem;
        color: #FFF;
        font-family: 'Lora', serif;
        font-weight: bold;
        font-style: italic;
    }
    .portada img{
        width: 100%;
        height: 100%;
    }
    .clImagenSeguro{
        width: 100%;
        height: 100%;
        margin: 5px 0;
    }
    .clImagenSeguro a{
        text-decoration: none;
        font-size: medium;
    }
    .portada{
        height: 150px;
    }
    .portada::before{
        background-color: rgba(0, 0, 0, 0.3);
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    /*Descripion de los seguros y de preguntas frecuentes*/
    .cLDescriptionSeguros{
        background-color: rgba(255,255,255,0.6);
        padding: 1.25rem;
    }
    .cLDescriptionSeguros p{
        margin-top: 5px;
        text-align: justify;
    }
    .cLDescriptionSeguros a{
        font-size: 1rem;
    }
    /*
        *********************************************FORMULARIOS*********************************************
    */
    .clFormularios{
        padding: 15px;
    }
    table.table td img{
        padding: 5px;
    }
    .table td{
        border-top: 1px dotted #dee2e6 !important;
    }
    /*Color de encabezados de la tabla*/
    .table thead th{
        color: #048fcb;
        border-top: 0;
    }
    /*Enlaces de descarga de documetos*/
    .table tbody a {
        color: #58b5db;
        text-decoration: none;
    }
    /*
        *********************************************CONTACTANOS*********************************************
    */
    .Mision,.Vision,.QuienesSomos{
        padding: 15px;
        background-color: #cbdff1;
        clear: both;
        margin: 5px;
    }
    .Mision p ,.Vision p,.QuienesSomos p{
        margin: 0;
        text-align: justify;
    }
    .contacto{
        width: 100%;
        height: 100%;
        padding: 15px;
        background-color: #cbdff1;;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    /*
        *********************************************REDES SOCIALES*********************************************
    */
        /*Estructura de las listas*/
        .ch-grid {
            margin: 20px 0 0 0;
            padding: 0;
            list-style: none;
            display: block;
            text-align: center;
            width: 100%;
        }

        .ch-grid:after,
        .ch-item:before {
            content: '';
            display: flex;
        }

        .ch-grid:after {
            clear: both;
        }

        .ch-grid li {
            width: 125px;
            height: 125px;
            display: inline-block;
            margin: 5px;
        }
        /*Estructura de la lista lista*/
        .ch-item {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            cursor: default;
            box-shadow: 
                inset 0 0 0 16px rgba(255,255,255,0.6),
                0 1px 2px rgba(0,0,0,0.1);
            transition: all 0.4s ease-in-out;
            
        }
        /*imagenes de las listas*/
        .ch-img-1 { 
            background-image: url('../img/whatsapp.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .ch-img-2 { 
            background-image: url('../img/outlook.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .ch-img-3 { 
            background-image: url('../img/instagram.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .ch-img-4 { 
            background-image: url('../img/identity.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .ch-img-5 { 
            background-image: url('../img/facebook.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .ch-img-6 { 
            background-image: url('../img/telefono.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
/*Color de la lista cuando se da el hover*/
    .ch-info{
        text-align: center;
        background: rgba(0,0,0,0.5);
        width: inherit;
        height: inherit;
        border-radius: 50%;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transform: scale(0);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*texto que esta dentro de la lista*/
    .ch-info h3 {
        text-align: center;
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Lora', serif;
        text-shadow: 
            0 0 1px #fff, 
            0 1px 2px rgba(0,0,0,0.3);
    }
    .ch-info h3 a{
        text-decoration: none;
        color: #FFF;
    }
    /*El borde de las imagenes redondeas(borde blanco)*/
    .ch-item:hover {
        box-shadow: 
            inset 0 0 0 1px rgba(255,255,255,0.1),
            0 1px 2px rgba(0,0,0,0.1);
    }
    /*Efecto de */
    .ch-item:hover .ch-info {
        transform: scale(1);
        opacity: 1;
    }
}
